.flex-grid {
  display: flex;
  justify-content: space-between;
}

.col {
  flex: 1;
}

.CollectionList_item {
  position: relative;
  height: 56px;
  line-height: 56px;
  margin: 5px 0;
  border: 1px solid #aaa;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.CollectionList_item:hover {
  border-color: #777;
  box-shadow: 3px 3px 5px #333;

  background: #eeeeee; /* Old browsers */
}

li.CollectionList_item:hover:before {
  border-left-color: #777;
}

li.CollectionList_item:active {
  background: #eee;
  box-shadow: inset 0 1px 1px #666;
}
